*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Questrial', sans-serif;
    color: black;
    font-size: 1.3rem;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body a {
    text-decoration: none;
    color: inherit;
}

body h2, h4 {
    font-weight: unset;
}

input[type="number"] {
    border: unset;
    font: inherit;
    color: inherit;
}

input[type="number"]:focus {
    outline: none;
}

main {
    padding: 3rem;
    height: 90%;
    margin: 0 1.5rem 0 350px;
    display: flex;
    flex-direction: column;
    font-family: 'Passion One', cursive;
    color: #867B7B;
    font-size: 1.8rem;
}

#cart-title {
    font-size: 3.5rem;
    font-weight: lighter;
    color: #E45757;
    text-transform: uppercase;
    text-shadow: 0px 2px 3px #00000080;
}

.cart-wrapper {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.cart-left-div {
    margin-right: 10rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#cart-items-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

#res-det {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
    font-size: 2.2rem;
}

#res-det> :first-child {
    color: #E45757;
    margin-right: 2rem;
}

#res-det> :last-child {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#res-det> :last-child>div {
    display: flex;
}


#cart-items-wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: 4px 5px 13px #00000020, -2px -3px 9px #00000020;
    overflow-y: auto;
}

/* #cart-items-wrapper:hover{
    overflow-y: scroll;
} */

#cart-items-wrapper::-webkit-scrollbar-track {
    background: transparent;
}

.ind-cart-items {
    text-transform: uppercase;
    border-bottom: 1px solid #00000030;
    display: flex;
    position: relative;
}

.item-img {
    width: 30%;
    margin-right: 4rem;
}

.ind-cart-items>div {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    line-height: 4rem;
}

.item-no {
    position: absolute;
    top: 0;
    right: 0;
    background-color: tomato;
    color: #fff;
    font-size: 2.3rem;
    padding: .3rem 1.7rem;
    border-radius: 0 0 0 1rem;
}

.item-amount {
    align-self: flex-end;
    margin: 0 5rem 3rem auto;
    padding: .3rem .5rem;
    border-radius: .5rem;
    border-right: 5px solid #867B7B;
    border-left: 5px solid #867B7B;
}

.cart-right-div {
    box-shadow: 4px 5px 13px #00000030, -2px -3px 9px #00000030;
    margin: auto 0 0 0;
    padding:2rem 3rem;
    display: flex;
    flex-direction:column;
    text-transform: uppercase;
}

.cart-right-div > *{
    margin:1rem 0;
}

.btn {
    border: unset;
    border-radius: .3rem;
    font-family: inherit;
    font-size: inherit !important;
    color: #fff;
    background-color: #E45757;
    font-size: 1.2rem;
    box-shadow: 3px 3px 4px #00000050, -2px 5px 4px #00000050, 0px -1px 4px #00000050, 0 3px 4px #00000050;
    transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 3px #fa595390, -3px 3px 3px #00000080, 1px -1px 1px #fa595390, -1px -1px 1px #00000080;
}

#place-order-btn{
    padding: .6rem 1.5rem;
}