*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Questrial', sans-serif;
}

body *{
    margin:1rem;
}

.add-food-form,.restaurant-form{
    display: flex;
    flex-direction: column;
}

.btn{
    width: 200px;;
}