*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

body {
    font-family: 'Questrial', sans-serif;
}

input {
    border: none;
    background-color: transparent;
}

input:focus {
    outline: none;
}

#res-cover-photo {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-59%);
    -webkit-user-drag: none;
    border-bottom: 5px solid #fa5953;
}

#res-card-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#res-form {
    width: 53vw;
    height: 63vh;
    min-width: 850px;
    min-height: 550px;
    background-color: #2B2929;
    border-radius: 2rem 2rem 0 0;
    box-shadow: -7px -10px 13px #00000080;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Passion One', cursive;
    color: #fff;
    padding: 0 2.5rem;
    font-size: 2.2rem;
    margin-top: 2rem;
}

#res-form::after {
    content: '';
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate(35%, 35%);
}

#res-form * {
    margin: 1rem;
}

#res-name {
    color: #fa5953;
    font-size: 4.2rem;
    text-shadow: 5px 7px #00000080;
    text-align: center;
    padding: 1.3rem 0 0;
}

.res-det-div {
    margin-top: 1.2rem !important;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#res-det-div-left {
    display: flex;
    flex-direction: column;
}

#res-det-div-left div {
    display: flex;
    /* justify-content: start; */
}

#res-det-div-left :first-child>div {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.res-det-icons {
    width: 40px;
}

#res-det-div-right input {
    display: none;
}

#res-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 7px solid #fff;
}

/* ---Foods Card start---- */

#food-cards-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    justify-content: center;
}

.food-card {
    width: 390px;
    box-shadow: -2px 0 6px #00000050, 2px 0 6px #00000050;
    font-size: 1.5rem;
    color: #00000099;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 6px solid #f17171;
    border-bottom: 6px solid #00000050;
    position: relative;
    padding-bottom: .5rem;
    /* transition: transform .75s ease-in-out; */
    transition: all .75s ease-in-out;
}

.food-card::after, .food-card::before {
    content: "";
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    transition: all .75s ease-in-out;
}

.food-card::after {
    top: -8px;
    left: calc(50% - 40px);
    transform: translateY(-50%);
    border-bottom: 9px solid #f17171;
}

.food-card::before {
    bottom: -8px;
    left: calc(50% - 40px);
    transform: translateY(50%);
    border-top: 9px solid #00000050;
}

.food-card:hover {
    transform: scale(1.015);
    border-top: 6px solid #F63B35;
    border-bottom: 6px solid #00000060;
    box-shadow: 10px 0 20px #00000050;
}

.food-card:hover::after {
    border-bottom: 9px solid #F63B35;
}

.food-card:hover::before {
    border-top: 9px solid #00000060;
}

.food-type-logo {
    position: absolute;
    width: 35px;
    top: 10px;
    right: 10px;
}

.food-image {
    height: 260px;
    width: 100%;
    border-bottom: 4px solid #E45757;
    backdrop-filter: 10px;
}

.card-footer {
    font-size: 1.2rem;
    margin: 2rem 0 1rem;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-footer h4 {
    margin-bottom: 1rem;
}

.add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/add.png) no-repeat;
    min-width: 100px;
    min-height: 56px;
    color: #E45757;
    font-weight: bold;
    cursor: pointer;
}

/* ---Foods Card end---- */

/* --- Food form section start --- */

#food-form-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-food-form {
    width: 610px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 10px 30px #2B2929, -2px -3px 30px #2B2929;
    padding: 3rem 4.5rem;
    font-family: 'Passion One', cursive;
    font-size: 2rem;
    background-color: #2B2929;
    color: #fff;
}

.add-food-form h2 {
    color: #f17171;
    text-shadow: 5px 7px #00000080;
    text-align: center;
    font-size: 3rem;
    font-weight: unset;
    margin-bottom: 1rem;
}

.add-food-form label {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-food-form input {
    color: #fff;
    border-bottom: 2px solid #fff;
    flex-grow: 1;
    margin-left: 1rem;
}

.add-food-form input:focus {
    border-bottom: 2px solid #f17171;
}

#food-img {
    display: none;
}

#add-food-btn {
    margin: 2rem 0 1rem;
}

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    font-family: inherit;
    font-size: 1.5rem;
    background-color: #f17171;
    box-shadow: 3px 3px 4px #00000050, -2px 5px 4px #00000050, 0px -1px 4px #00000050, 0 3px 4px #00000050;
    border: unset;
    border-radius: .3rem;
    color: #fff;
    cursor: pointer;
    transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
}

#food-img-label {
    align-self: flex-start;
    display: unset;
    text-align: center;
    border: 2px solid #f17171;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    width: unset;
    cursor: pointer;
    font-size:1.5rem;
}
#food-img-label span{
    margin-right: .5rem;
}

#food-type-wrapper{
    display:flex;
    width: 100%;
}
/* --- Food form section end --- */