*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body a{
    text-decoration: none;
    color:inherit;
    font-family: 'Questrial', sans-serif;
}


/* ---nav start--- */
.side-navbar{
    width:300px;
    height: 100vh;
    display:flex;
    flex-direction: column;
    background-color: #090303;
    color:#f3dede;
    font-size:1.8rem;
    padding:1rem 0rem 1rem 2.5rem;
    position: fixed;
}

.side-nav-title-div{
    margin:3rem 0 2rem; 
    display:flex;
    align-items: center;
    justify-self: center;
}

.side-nav-title-div h2{
    color:#F63B35;
    font-size:2.5rem;
    margin-left:.5rem;
}

.side-navbar ul{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

.side-nav-link{
    list-style: none;
    margin:.5rem 0;
    padding:.8rem 0 .8rem 1rem;
    transition: border  1s ease;
    transition: color  1s ease;
}

.side-nav-link:last-child{
    margin-top:5rem;
}

.side-nav-link:hover{
    color:#fff;
    border-left:5px solid #F63B35;
}
/* ---nav end--- */

main{
    margin-left:300px;
    display:flex;
    flex-direction: column;
    padding:2rem;
}

/* --search bar start--- */
.search-bar-div{
    width: 30%;
    max-width: 600px;
    min-width: 350px;
    box-shadow: -1px 8px 10px  #00000050, 0px -1px 5px  #00000050;
    display:flex;
    align-items: center;
    margin:0  0 0 auto;
    padding:0.5rem .8rem;
}

.search-bar-div:hover{
    box-shadow:2px 10px 20px  #00000050, 0px -1px 5px  #00000050;;
}

.search-bar-div img{
    width: 28px;
    height: 30px;
}

.search-bar{
    border:none;
    font-size:1.45rem;
    color:#00000080;
    flex-grow: 1;
    height: 100%;
    padding-left:.5rem;
}

.search-bar:focus{
    outline:none;
}

/* ----search bar end---- */

/* ---restauarnt cards start ---- */
.cards-container{
    display: flex;
    flex-wrap:wrap;
    margin-top:3rem;
    justify-content: center;
}

.res-card{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
    min-width: 385px;
    box-shadow: -1px 10px 12px  #00000050;
    border-radius:2rem;
    font-size:1.5rem;
    padding:1rem;
    border-top:7px solid #F63B35;
    margin:2rem;
    transition: transform .5s ease-in-out;
    /* transition: box-shadow .5s ease-in-out; */
    cursor:pointer;
}

.res-card:hover{
    transform:translateY(-8px);
    /* box-shadow: -5px 15px 20px  #00000050; */
}

.res-img{
    margin-top:2rem;
    width: 100%;
}

.rating-des-wrapper{
    margin:2rem 0;
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}

.res-des{
    margin:auto;
}

.res-des h3{
    font-weight: unset;
    margin-bottom: .3rem;
}

.res-des p{
    color:#00000098;
}

.rating-div{
    min-height: 60px;
    min-width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/rating-div-shape.svg) no-repeat;
    color:white;
    font-weight: bolder;
    margin:1rem .5rem 0;
}

.rating-div i{
   transform:scale(.7);
   margin-left:.2rem;
}
/* ---restauarnt cards end ---- */
