*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Questrial', sans-serif;
}

body a{
    text-decoration: none;
    color:inherit;
}

main{
    margin-left:350px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:2rem;
}

#user-photo{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

main *{
    margin:1rem 0;
}