*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Questrial', sans-serif;
}

body a{
    text-decoration: none;
    color:inherit;
}

main{
    margin-left:350px;
    display:flex;
    flex-direction: column;
    padding:2rem;
}