*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Questrial', sans-serif;
    color:black;
}

body a{
    text-decoration: none;
    color:inherit;
}

body h2,h4{
    font-weight: unset;
}

main{
    margin-left:320px;
}

/* ---restuarant header start--- */

.resturant-header-wrapper{
    padding:3rem 7rem;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}

.restauarnt-titlebar-container{
    max-width: 850px;
    min-width: 560px;
    flex-grow: 1;
    margin:0 3rem 0 0;
    border-radius:1.5rem;
    box-shadow:-2px 6px 14px  #00000050,0 -1px 10px  #00000050;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    padding:2.5rem 2rem 2.5rem 6rem;
    position: relative;
}

.res-title-div img{
    position: absolute;
    top:30px;
    left:30px;
    width:35px;
}

.res-title-div h2{
    font-size:2.3rem;
    margin-bottom: .7rem;
}

.res-title-div h4{
    font-size:1.8rem;
    margin-bottom: 1rem;
}

.res-title-divd p{
    font-size:1.2rem;
    color:#00000098;
}

.rating-div{
    min-height: 60px;
    min-width: 95px;
    align-self:flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/rating-div-shape.png) no-repeat;
    color:white;
    font-weight: bolder;
    margin:1rem .5rem 0;
    font-size:1.4rem;
}

.rating-div i{
   transform:scale(.7);
   margin-left:.2rem;
}

.search-bar-div{
    margin:3rem 0 !important;
}

/* ---restuarant header end--- */

/* ---Foods Card start---- */

.food-cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin:2rem 0;
    justify-content: center;
}

.food-card{
    min-width: 390px;
    box-shadow:-2px 0 6px  #00000050,2px 0 6px  #00000050;
    font-size:1.5rem;
    color:#00000099;
    margin:2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-top:6px solid #f17171;
    border-bottom:6px solid #f17171;
    position: relative;
    padding:2.5rem 0 1.5rem;
    /* transition: transform .75s ease-in-out; */
    transition: all .75s ease-in-out;
}

.food-card::after,.food-card::before{
    content: "";
    width: 80px;
    height:80px;
    border-radius:50%;
    background-color: #ffffff;
    position:absolute;   
    transition: all .75s ease-in-out;
}

.food-card::after{
    top:-8px;
    left:calc(50% - 40px);
    transform:translateY(-50%);
    border-bottom: 9px solid #f17171;
    /* box-shadow:0px 7px 1px  #E45757; */
}

.food-card::before{
    bottom:-8px;
    left:calc(50% - 40px);
    transform:translateY(50%);
    border-top: 9px solid #f17171;
     /* box-shadow:0px -7px 1px  #E45757; */
}

.food-card:hover{
    transform:scale(1.015);
    border-top:6px solid #F63B35;
    border-bottom:6px solid #F63B35;
}
.food-card:hover::after{
    border-bottom: 9px solid #F63B35;
}
.food-card:hover::before{
    border-top: 9px solid #F63B35;
}


.food-image{
    width: 100%;
    padding:0 1rem 0.5rem;
    /* border-bottom:1px solid #E45757; */
}

.card-footer{
    font-size:1.2rem;
    margin:2rem 0 1rem;
    padding:0 1rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-footer h4{
    margin-bottom: 1rem;
}

.add-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background:url(../assets/add.png) no-repeat;
    min-width: 100px;
    min-height: 56px;
    color:#E45757;
    font-weight: bold;
    cursor:pointer;
}

/* ---Foods Card end---- */
